.loginPage{
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.loginPage img{
    width: 25%;
}

.loginPage form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}